<!--for_i18n-->

<div [ngSwitch]="message">
    <div *ngSwitchCase="errorStatus.DatabaseInternalError" i18n="@@DatabaseInternalError">
        Database error occured. Report this error please.
    </div>

    <!---invalid id messages-->
    <div *ngSwitchCase="errorStatus.ErrorWhileCheckingIDInDatabase" i18n="@@ErrorWhileCheckingIDInDatabase">
        Database error occured while checking ID value. Report this error please.
    </div>
    <div *ngSwitchCase="errorStatus.InvalidProfileID" i18n="@@InvalidProfileID">
        Invalid Profile ID.
    </div>
    <div *ngSwitchCase="errorStatus.InvalidTagID" i18n="@@InvalidTagID">
        Invalid Tag ID.
    </div>
    <div *ngSwitchCase="errorStatus.InvalidNodeID" i18n="@@InvalidNodeID">
        Invalid Node ID
    </div>
    <div *ngSwitchCase="errorStatus.InvalidSessionID" i18n="@@InvalidSessionID">
        Invalid Session ID.
    </div>
    <div *ngSwitchCase="errorStatus.InvalidTagsIDs" i18n="@@InvalidTagsIDs">
        Invalid IDs in Tags IDs list.
    </div>

    <!--general backend input validation-->
    <div *ngSwitchCase="errorStatus.ErrorWhileCheckingNameExistanceInDatabase" i18n="@@ErrorWhileCheckingNameExistanceInDatabase">
        Database error occured while checking name value. Report this error please.
    </div>
    <div *ngSwitchCase="errorStatus.NameAlreadyClaimed" i18n="@@NameAlreadyClaimed">
        Object name already claimed by another in database.
    </div>
    <div *ngSwitchCase="errorStatus.ErrorWhileGetingExistanceOfWSBindingFromDatabase" i18n="@@ErrorWhileGetingExistanceOfWSBindingFromDatabase">
        Database error occured while checking web service binding existance. Report this error please.
    </div>
    <div *ngSwitchCase="errorStatus.BindingBetweenSpecifiedServiceAndNodeAlreadyExists" i18n="@@BindingBetweenSpecifiedServiceAndNodeAlreadyExists">
        Can not create web service binding: binding between specified node and service already exists.
    </div>
    <div *ngSwitchCase="errorStatus.ErrorWhileCheckingCWSParamNumberInDatabase" i18n="@@ErrorWhileCheckingCWSParamNumberInDatabase">
        Database error occured while checking web service parameters number.
    </div>
    <div *ngSwitchCase="errorStatus.InvalidWebServiceID" i18n="@@InvalidWebServiceID">
        Invalid Web Service ID.
    </div>
    <div *ngSwitchCase="errorStatus.ServiceBindingSetParementersValueCanNotBeNull" i18n="@@ServiceBindingSetParementersValueCanNotBeNull">
        Web service parameters values can not be null.
    </div>
    <div *ngSwitchCase="errorStatus.RedundantParameterValuesInServiceBinding" i18n="@@RedundantParameterValuesInServiceBinding">
        Redundant parameter values in service binding data.
    </div>
    <div *ngSwitchCase="errorStatus.ErrorWhileCheckingIfNodeIsPartOfSubtree" i18n="@@ErrorWhileCheckingIfNodeIsPartOfSubtree">
        Database error occured while checking if node is part of subtree.
    </div>
    <div *ngSwitchCase="errorStatus.NodeIsPartOfSpecifiedSubtree" i18n="@@NodeIsPartOfSpecifiedSubtree">
        Can not move subtree to subroot from the same subtree.
    </div>
    <div *ngSwitchCase="errorStatus.BindingBetweenSpecifiedServiceAndNodeDoesNotExist" i18n="@@BindingBetweenSpecifiedServiceAndNodeDoesNotExist">
        Binding between specified service and node does not exist.
    </div>

    <!--backend model input validation-->
    <div *ngSwitchCase="errorStatus.InvalidName" i18n="@@InvalidName">
        Invalid name format.
    </div>
    <div *ngSwitchCase="errorStatus.InvalidCWSParam1Name" i18n="@@InvalidCWSParam1Name">
        Invalid web service parameter 1 name format.
    </div>
    <div *ngSwitchCase="errorStatus.InvalidCWSParam2Name" i18n="@@InvalidCWSParam2Name">
        Invalid web service parameter 2 name format.
    </div>
    <div *ngSwitchCase="errorStatus.InvalidCWSParam3Name" i18n="@@InvalidCWSParam3Name">
        Invalid web service parameter 3 name format.
    </div>
    <div *ngSwitchCase="errorStatus.CWSParameterNamesAreNotInOrder" i18n="@@CWSParameterNamesAreNotInOrder">
        Web service parameters names are not filled in correct order.
    </div>
    <div *ngSwitchCase="errorStatus.InvalidWebServiceStringFormat" i18n="@@InvalidWebServiceStringFormat">
        Invalid web service string format.
    </div>
    <div *ngSwitchCase="errorStatus.IpAddressStringIsNull" i18n="@@IpAddressStringIsNull">
        Ip address string can not be null.
    </div>
    <div *ngSwitchCase="errorStatus.IpAddressStringFormatIsInvalid" i18n="@@IpAddressStringFormatIsInvalid">
        Ip address string format is invalid.
    </div>
    <div *ngSwitchCase="errorStatus.MonitoringStartHourIsOutOfRange" i18n="@@MonitoringStartHourIsOutOfRange">
        Monitoring start hour is out of range.
    </div>
    <div *ngSwitchCase="errorStatus.MonitoringSessionDurationIsOutOfRange" i18n="@@MonitoringSessionDurationIsOutOfRange">
        Monitoring session duration is out of range.
    </div>
    <div *ngSwitchCase="errorStatus.InvalidMonitoringMessageTypeValue" i18n="@@InvalidMonitoringMessageTypeValue">
        Invalid monitoring message type value.
    </div>

    <!--executable services errors-->
    <div *ngSwitchCase="errorStatus.NoSpecifiedExecServiceFoundInBinDirectory" i18n="@@NoSpecifiedExecServiceFoundInBinDirectory">
        No executable service found for this operation in backend server bin directory.
    </div>
    <div *ngSwitchCase="errorStatus.TooManyCandidatesForSpecefiedExecServiceInBinDirectory" i18n="@@TooManyCandidatesForSpecefiedExecServiceInBinDirectory">
        Too many candidates for executable service in backend server bin directory.
    </div>
    <div *ngSwitchCase="errorStatus.NotEnoughOSRightsToSearchForExecServices" i18n="@@NotEnoughOSRightsToSearchForExecServices">
        Not enough rights from OS to search for executable services.
    </div>
    <div *ngSwitchCase="errorStatus.CouldNotFindBinDirectoryWhileSearchingForExecutableServices" i18n="@@CouldNotFindBinDirectoryWhileSearchingForExecutableServices">
        Could not find bin directory in backend server directory.
    </div>
    <div *ngSwitchCase="errorStatus.UnknownIOErrorWhileTryingToFindExecutableServices" i18n="@@UnknownIOErrorWhileTryingToFindExecutableServices">
        Unknown backend I/O error while searching for executable service.
    </div>
    <div *ngSwitchCase="errorStatus.ExecutableServiceStartError" i18n="@@ExecutableServiceStartError">
        Executable service start error.
    </div>

    <!--ping service errors-->
    <div *ngSwitchCase="errorStatus.PingExecutionServiceError" i18n="@@PingExecutionServiceError">
        Ping service sending error.
    </div>

    <!--custom web services service errors-->
    <div *ngSwitchCase="errorStatus.CustomWebServiceStartError" i18n="@@CustomWebServiceStartError">
        Error while trying to start custom web service.
    </div>
</div>