<div style="position:fixed;bottom:0;right:0">
    <div *ngFor="let msg of messageQueue; trackBy: messageTrackByFn"  [@messageState]="'normal'" class="d-flex align-items-end flex-column">
        <div *ngIf="msg.isMessage; else httpErrorStatusBlock">
            <div class="bg-success text-white p-1 px-2 border h5">
                <messageTextSelector [message]=msg.message></messageTextSelector>
            </div>
        </div>
        <ng-template #httpErrorStatusBlock>
            <div class="bg-danger text-white p-1 border">
                <div i18n="@@BadRequestErrorMessageCaption">Backend operation error:</div>
                <div class="small">
                    <backendErrorSelector [message]="msg.errorStatus"></backendErrorSelector>
                </div>
            </div>
        </ng-template>
    </div>
</div>