<div class="w-100 h-100 p-0 m-0 bg-light">
    <div class="w-100 h-100 p-0 m-0" *ngIf="profilesList != null; else stillEmptyBlock">
        <div class="h-100 container-fluid p-0 m-0" style="width:calc(100% - 16px)">
            <div class="p-0 m-0" style="height:100%; width:calc(100% + 16px); overflow-y:scroll">
                <div class="d-flex align-items-center h-100 w-100">
                    <div class="d-block-inline w-100">
                        <div class="p-0 m-0 container-fluid">
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center"><div class="w-100"><span class="btn btn-outline-success btn-lg square p-2 m-2" style="min-width: 300px">TEST</span></div></div>
                            <div class="row p-0 m-0 text-center" *ngFor="let profile of profilesList">
                                <div class="w-100">
                                    <span
                                        class="btn btn-outline-success btn-lg square p-2 m-2"
                                        style="min-width: 300px"
                                        (click)="setAndContinue(profile.id)"
                                    >
                                        {{profile.name}}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 m-0 text-center">
                                <div class="w-100">
                                    <span
                                        class="btn btn-primary square p-1 m-1"
                                    >
                                        Create New
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #stillEmptyBlock>
        <loadingIndicator
            [isError]="isLoadingError"
            (refreshEvent)="refresh($event)"
        ></loadingIndicator>
     </ng-template>
</div>