<div class="w-100 h-100 p-0 m-0 bg-light">
    <div class="w-100 h-100 p-0 m-0" *ngIf="sortedIndexes != null; else stillEmptyBlock">
        <div class="h-100 container-fluid p-0 m-0" style="width:calc(100% - 16px)">
            <div class="row p-0 m-0 text-center" style="height: 30px">
                <div class="col-5 btn-light border rounded-top p-0 m-0 sortable-collumn"
                    (click)="setSortByName()"
                >
                    <strong>
                        <span class="p-0 m-0 px-1">Name</span>
                        <i
                            class="fa arrow-icon-size" aria-hidden="true"
                            [ngClass]="{ 'fa-sort-down': isSortedByName() && !isSortedDescending(), 'fa-sort-up': isSortedByName() && isSortedDescending() }"
                        ></i>
                    </strong>
                </div>
                <div class="col-2 btn-light border rounded-top p-0 m-0 disabled nonselectable-collumn"><strong>Executables</strong></div>
                <div class="col-3 btn-light border rounded-top p-0 m-0 disabled nonselectable-collumn"><strong>Web services</strong></div>
                <div class="col-2 btn-light border rounded-top p-0 m-0 sortable-collumn"
                    (click)="setSortByPing()"
                >
                    <strong>
                        <span class="p-0 m-0 px-1">Ping</span>
                        <i
                            class="fa arrow-icon-size" aria-hidden="true"
                            [ngClass]="{ 'fa-sort-down': isSortedByPing() && !isSortedDescending(), 'fa-sort-up': isSortedByPing() && isSortedDescending() }"
                        ></i>
                    </strong>
                </div>
            </div>
        
            <div class="p-0 m-0 container-fluid" style="height: calc(100% - 30px); width:calc(100% + 16px); overflow-y:scroll">
                <div class="row p-0 py-3 m-0 text-center font-italic" *ngIf="isNoNodesLoaded(); else nodesList">
                    <div class="col">
                        <strong>No saved nodes found in database.</strong>
                    </div>
                </div>
                <ng-template #nodesList>
                    <div class="row p-0 m-0 text-center border-bottom" *ngFor="let i of sortedIndexes">
                        <div class="col-5 p-0 m-0 font-italic text-secondary"
                        >
                            <strong class="m-0 p-0 "
                                (mouseenter)="selectNode(i, $event)"
                                (mouseleave)="deselectNode($event)"
                            >
                                {{node(i).name}}
                            </strong>
                        </div>
                        <div class="col-2 p-0 m-0">
                            <execServicesButtons
                                [node]="node(i)"
                            ></execServicesButtons>
                        </div>
                        <div class="col-3 p-0 m-0">
                            <webServicesButtons
                                [nodeID]="node(i).id"
                                [webServices]="listWebServicesData(i)"
                            ></webServicesButtons>
                        </div>
                        <div class="col-2 p-0 m-0">
                            <pingDisplay
                                [node]="node(i)"
                                (changedEvent)="resortListByPing()"
                            ></pingDisplay>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <ng-template #stillEmptyBlock>
        <loadingIndicator
            [isError]="isLoadingError"
            (refreshEvent)="refresh($event)"
        ></loadingIndicator>
     </ng-template>
</div>