/* You can add global styles to this file, and also import other style files */
.square {
    border-radius: initial !important
}

.button-size {
    width:26;
    height:26;
}

.button-outer-container {
    height:26px;
    width:100%;
    overflow-y:hidden;
    white-space:nowrap;
}

.button-middle-container {
    position:relative;
    top:-17px;
    width:100%;
}

.button-inner-container {
    overflow-y:scroll;
    scroll-behavior: smooth;
    white-space:nowrap;
    transform:rotate(-90deg);
    transform-origin: right top;
    position:relative;
    left:-44px;
    height:100px;
    width:44px;
    padding-right:1px
}

.button-counterrotation {
    transform:rotate(90deg);
    transform-origin: center;
    padding: 0px !important;
    margin: 0px !important;
    margin-top:3px !important;
    margin-bottom:3px !important;
}

.sortable-collumn {
    cursor: pointer;
    user-select: none;
}

.nonselectable-collumn {
    user-select: none;
}

.arrow-icon-size {
    font-size: 10px
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

@keyframes current_ping_pulse_animation {
    0% {background-color: beige;}
    50% {background-color: gray;}
    100% {background-color: beige;}
}

/* The element to apply the animation to */
.pulse_animation {
    animation-name: current_ping_pulse_animation;
    animation-duration: 2s;
    animation-iteration-count: infinite
}

/*Copypasted from bootstrap btn-light*/
.hoverselection:hover {    
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.bg-monitor-panel {
    background-color: #e2e6ea;
}

.hovershrink:hover {
    font-size: calc(100% - 2px) !important;
    padding-top: 3px !important;
    padding-bottom: 2px !important;
    padding-left: 1px !important;
    padding-right: 2px !important;
}