<div style="position:fixed;top:0;right:0; width: 700px"
    class="px-2 py-0"
    [ngClass]="{
        'monitor-panel-height': isOpened === true,
        'd-none': shouldHide === true
    }"
>
    <div
        class="border-left border-right border-secondary bg-light p-2 w-100"
        style="height: calc(100% - 20px)"
        [ngClass]="{'d-none': isOpened === false}"
    >
        <div class="border-top border-bottom h-100 w-100">
            <div class="w-100 h-100">
                <app-monitor-session-viewer
                    [data]="sessionData"
                    [isCurrentSession]="true"
                    [currentlyPulsing]="isPulsing"
                ></app-monitor-session-viewer>
            </div>
        </div>
    </div>
    <div class="w-100 text-center bg-light border border-secondary border-top-0 rounded-bottom"
        style="height: 20px; line-height: 6px;"
    >
        <div class="container-fluid p-0 m-0">
            <div class="row p-0 m-0">
                <div class="col-1 p-0 px-2 m-0 text-left">
                    <i class="fa hovershrink"
                        (click)="monitorSwitch()"
                        [ngClass]="{
                            'fa-toggle-off text-warning': isActive === false,
                            'fa-toggle-on text-success': isActive === true
                        }"
                        style="padding-top: 2px"
                        aria-hidden="true"
                    ></i>
                </div>
                <div class="col-4 p-0 pt-1 m-0 text-left">
                    <span *ngIf="sessionData.session !== null && isActive === true; else monitorDisabled">
                        <span>Monitoring</span>
                        {{sessionData.session.participatingNodesNum}}
                        <span>nodes</span>
                    </span>
                </div>
                <div class="col-2 p-0 m-0"
                    style="line-height: 6px"
                >
                    <span *ngIf="isActive === true"
                        class="btn btn-light square py-0 pb-1 my-0 px-2"
                        [ngClass]="{
                            'rounded-bottom': isOpened === false,
                            'rounded-top': isOpened
                        }"
                        style="line-height: 6px;"
                        (click)="openCloseSwitch()"
                    >
                        <strong *ngIf="isOpened === false; else closeButtonBlock">
                            <i style="line-height: 6px" 
                                class="fa fa-angle-down" aria-hidden="true"
                            ></i>
                            <i style="line-height: 6px"
                                class="fa fa-angle-down px-1" aria-hidden="true"
                            ></i>
                            <i style="line-height: 6px" 
                                class="fa fa-angle-down" aria-hidden="true"
                            ></i>
                        </strong>
                        <ng-template #closeButtonBlock>
                            <strong>
                                <i style="line-height: 6px" 
                                    class="fa fa-angle-up" aria-hidden="true"
                                ></i>
                                <i style="line-height: 6px"
                                    class="fa fa-angle-up px-1" aria-hidden="true"
                                ></i>
                                <i style="line-height: 6px" 
                                    class="fa fa-angle-up" aria-hidden="true"
                                ></i>
                            </strong>
                        </ng-template>
                    </span>
                </div>
                <div class="col-5 p-0 m-0 text-right pt-1 px-2">
                    <span>Prev. pulse: (</span>
                    <span class="text-success">{{lastPulse.responded}}</span><!--
                    -->/<span class="text-danger">{{lastPulse.silent}}</span><!--
                    -->/<span class="text-danger">{{lastPulse.skipped}}</span>
                    <span>); next:</span>
                    {{timeToNextPulse()}}
                </div>
            </div>
        </div>
    </div>
</div>

<app-confirmation-popup
    [display]="displaySessionEndMessage"
    (answerEvent)="endSession($event)"
>
    <span i18n="@@saveChangesToDatabaseLabel">
        End current monitor session?
    </span>
</app-confirmation-popup>
