<div class="w-100 h-100 bg-light">
    <div class="w-100 h-100" *ngIf="viewNodes !== null && isLoadingError === false; else stillEmptyBlock">
        <div class="h-100 w-100 text-center">
            <div style="height: 30px; width:calc(100%); display: flex">
                <div class="border rounded-top nonselectable-collumn" style="flex: 0 0 50%">
                    <strong>
                        <span i18n="@@nodesTagFilter">Nodes tag filter</span>
                        (<span *ngIf="isListFilter; else monitorFilterLabel"
                            i18n="@@listViewLabel"
                        >list view</span>
                        <ng-template #monitorFilterLabel>
                            <span i18n="@@monitorLabel">monitor</span>
                        </ng-template>)
                        <span class="btn btn-primary square p-0 m-0 px-1"
                            i18n="switchLabel"
                            (click)="switchFilter()"
                        >
                            switch
                        </span>
                    </strong>
                </div>
                <div class="border rounded-top nonselectable-collumn" style="flex: 0 0 50%">
                    <strong i18n="@@networkNodesFilteredBySetTagsLabel">Network nodes filtered by set tags</strong>
                </div>
            </div>
        
            <div
                class="w-100 py-3 text-center font-italic"
                *ngIf="isNoNodesLoaded(); else nodesList"
            >
                <strong class="w-100" i18n="@@noNodesFoundLabel">No nodes found in database.</strong>
            </div>
            <ng-template #nodesList>
                <div class="w-100 text-center border-bottom"
                    style="height: calc(100% - 32px); width:calc(100%); display: flex"
                >
                    <ng-container *ngIf="isListFilter === true; else monitorFilter">
                        <div class="h-100 border-right" style="flex: 0 0 50%">
                            <app-tags-binding
                                [originalSetTags]="getViewTagsIDs()"
                                (applyEvent)="applyOperationsViewNodesChange($event)"
                            ></app-tags-binding>
                        </div>
                        <div class="h-100" style="flex: 0 0 50%">
                            <div class="w-100 h-100  font-italic text-secondary"
                                style="overflow-y: scroll"
                            >
                                <div class="w-100 border-bottom hoverselection"
                                    *ngFor="let nodeData of viewNodes; let i = index"
                                    (mouseenter)="selectViewNode(i, $event)"
                                    (mouseleave)="deselectNode($event)"
                                >
                                    {{nodeData.node.name}}
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #monitorFilter>
                        <div class="h-100 border-right" style="flex: 0 0 50%">
                            <app-tags-binding
                                [originalSetTags]="getMonitorTagsIDs()"
                                (applyEvent)="applyMonitoredNodesChange($event)"
                            ></app-tags-binding>
                            <app-monitor-mutability-block></app-monitor-mutability-block>
                        </div>
                        <div class="h-100" style="flex: 0 0 50%">
                            <div class="w-100 h-100 font-italic text-secondary"
                                style="overflow-y: scroll"
                            >
                                <div class="w-100 border-bottom hoverselection"
                                    *ngFor="let nodeData of monitorNodes; let i = index"
                                    (mouseenter)="selectMonitorNode(i, $event)"
                                    (mouseleave)="deselectNode($event)"
                                >
                                    {{nodeData.node.name}}
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
        </div>
    </div>
    <ng-template #stillEmptyBlock>
        <app-loading-indicator
            [isError]="isLoadingError"
            (refreshEvent)="refresh($event)"
        ></app-loading-indicator>
    </ng-template>
</div>
