<div class="w-100 h-100 p-0 m-0 bg-light">
    <div class="w-100 h-100 p-0 m-0" *ngIf="sortedIndexes != null; else stillEmptyBlock">
        <div class="h-100 p-0 m-0 text-center" style="width:calc(100% - 16px)">
            <div style="display: flex; width: 100%; height: 30px">
                <div class="btn-light border rounded-top p-0 m-0 sortable-collumn"
                    style="flex: 0 0 calc(100% - 400px)"
                    (click)="setSortByName()"
                >
                    <strong>
                        <span class="p-0 m-0 px-1">Name</span>
                        <i
                            class="fa arrow-icon-size" aria-hidden="true"
                            [ngClass]="{ 'fa-sort-down': isSortedByName() && !isSortedDescending(), 'fa-sort-up': isSortedByName() && isSortedDescending() }"
                        ></i>
                    </strong>
                </div>
                <div class="btn-light border rounded-top p-0 m-0 disabled nonselectable-collumn"
                    style="flex: 0 0 100px"
                >
                    <strong>Executables</strong>
                </div>
                <div class="btn-light border rounded-top p-0 m-0 disabled nonselectable-collumn"
                    style="flex: 0 0 160px"
                >
                    <strong>Web services</strong>
                </div>
                <div class="btn-light border rounded-top p-0 m-0 sortable-collumn"
                    style="flex: 0 0 140px"
                    (click)="setSortByPing()"
                >
                    <strong>
                        <span class="p-0 m-0 px-1">Ping</span>
                        <i
                            class="fa arrow-icon-size" aria-hidden="true"
                            [ngClass]="{ 'fa-sort-down': isSortedByPing() && !isSortedDescending(), 'fa-sort-up': isSortedByPing() && isSortedDescending() }"
                        ></i>
                    </strong>
                </div>
            </div>
        
            <div class="p-0 m-0" style="height: calc(100% - 60px); width:calc(100% + 16px); overflow-y:scroll">
                <div
                    class="p-0 py-3 m-0 text-center font-italic w-100"
                    *ngIf="isNoNodesLoaded(); else nodesList"
                >
                    <strong>No saved nodes found in database.</strong>
                </div>
                <ng-template #nodesList>
                    <div
                        class="w-100 p-0 m-0 text-center border-bottom"
                        style="display: flex"
                        *ngFor="let i of sortedIndexes; trackBy: nodeTrackByFn"
                    >
                        <div class="btn-light p-0 m-0 font-italic"
                            style="flex: 0 0 calc(100% - 400px)"
                            (mouseenter)="selectNode(i, $event)"
                            (mouseleave)="deselectNode($event)"
                        >
                            <strong class="m-0 p-0 ">
                                {{node(i).name}}
                            </strong>
                        </div>
                        <div class="p-0 m-0" style="flex: 0 0 100px">
                            <app-exec-services-buttons
                                [node]="node(i)"
                            ></app-exec-services-buttons>
                        </div>
                        <div class="p-0 m-0" style="flex: 0 0 160px">
                            <app-web-services-buttons
                                [nodeID]="node(i).id"
                                [webServices]="listWebServicesData(i)"
                            ></app-web-services-buttons>
                        </div>
                        <div class="p-0 m-0" style="flex: 0 0 140px">
                            <app-ping-display
                                [node]="node(i)"
                                (changedEvent)="resortListByPing()"
                            ></app-ping-display>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="w-100 p-0 m-0 text-center" style="height: 30px"  *ngIf="!isNoNodesLoaded()">
                <span
                    class="btn btn-success h-100 square mt-1 py-0 mr-3"
                    (click)="pingFilteredList()"
                >
                    Ping filtered list
                </span>
                <span
                    class="btn btn-outline-primary h-100 square mt-1 py-0"
                    routerLink="/tagFilteredView/filter"
                >
                    To tag filter configuration
                </span>
            </div>
        </div>
    </div>
    <ng-template #stillEmptyBlock>
        <app-loading-indicator
            [isError]="isLoadingError"
            (refreshEvent)="refresh($event)"
        ></app-loading-indicator>
     </ng-template>
</div>