<div class="w-100 h-100  bg-light">
    <div class="w-100 h-100 " *ngIf="sortedIndexes != null; else stillEmptyBlock">
        <div class="h-100  text-center" style="width:calc(100% - 16px); position: relative">
            <div style="display: flex; width: 100%; height: 30px">
                <div class="btn-light border rounded-top  sortable-collumn"
                    style="flex: 0 0 calc(100% - 400px)"
                    (click)="setSortByName()"
                >
                    <strong>
                        <span class="px-1" i18n="@@nameLabel">Name</span>
                        <i
                            class="fa arrow-icon-size" aria-hidden="true"
                            [ngClass]="{ 'fa-sort-down': isSortedByName() && !isSortedDescending(), 'fa-sort-up': isSortedByName() && isSortedDescending() }"
                        ></i>
                    </strong>
                </div>
                <div class="btn-light border rounded-top disabled nonselectable-collumn"
                    style="flex: 0 0 100px"
                >
                    <strong i18n="@@executablesLabel">Executables</strong>
                </div>
                <div class="btn-light border rounded-top disabled nonselectable-collumn"
                    style="flex: 0 0 160px"
                >
                    <strong i18n="@@webServicesLabel">Web services</strong>
                </div>
                <div class="btn-light border rounded-top sortable-collumn"
                    style="flex: 0 0 140px"
                    (click)="setSortByPing()"
                >
                    <strong>
                        <span class="px-1" i18n="@@pingLabel">Ping</span>
                        <i
                            class="fa arrow-icon-size" aria-hidden="true"
                            [ngClass]="{ 'fa-sort-down': isSortedByPing() && !isSortedDescending(), 'fa-sort-up': isSortedByPing() && isSortedDescending() }"
                        ></i>
                    </strong>
                </div>
            </div>
        
            <div style="height: calc(100% - 60px); width:calc(100% + 16px); overflow-y:scroll">
                <div
                    class="p-0 py-3 m-0 text-center font-italic w-100"
                    *ngIf="isNoNodesLoaded(); else nodesList"
                >
                    <strong i18n="@@noNodesFoundLabel">No nodes found in database.</strong>
                </div>
                <ng-template #nodesList>
                    <div
                        class="text-center border-bottom hoverselection"
                        style="display: flex"
                        *ngFor="let i of sortedIndexes; trackBy: nodeTrackByFn"
                    >
                        <div class="font-italic"
                            style="flex: 0 0 calc(100% - 400px)"
                            (mouseenter)="selectNode(i, $event)"
                            (mouseleave)="deselectNode($event)"
                        >
                            <strong>
                                {{node(i).name}}
                            </strong>
                        </div>
                        <div style="flex: 0 0 100px">
                            <app-exec-services-buttons
                                [node]="node(i)"
                            ></app-exec-services-buttons>
                        </div>
                        <div style="flex: 0 0 160px">
                            <app-web-services-buttons
                                [nodeID]="node(i).id"
                                [webServices]="listWebServicesData(i)"
                            ></app-web-services-buttons>
                        </div>
                        <div style="flex: 0 0 140px">
                            <app-ping-display
                                [node]="node(i)"
                                (changedEvent)="resortListByPingIfChanged($event)"
                            ></app-ping-display>
                        </div>
                    </div>
                    <div *ngIf="showMassPingPanel === true"
                        style="position:absolute;right:0;top:0;width:140px;height: calc(100% - 30px)"
                    >
                        <app-mass-ping-indication></app-mass-ping-indication>
                    </div>
                </ng-template>
            </div>
            <div class="w-100  text-center" style="display: flex; height: 30px"  *ngIf="!isNoNodesLoaded()">
                <div class="font-italic"
                    style="flex: 0 0 calc(100% - 400px)"
                >
                    <strong i18n="allAtOnceLabel">All at once</strong>
                </div>
                <div style="flex: 0 0 399px"
                    class="text-right px-1 border-top"
                >
                    <button
                        type="button"
                        class="btn btn-success square m-0 p-0 mr-2"
                        style="width: 26px; height: 26px; margin-top: 1px"
                        [disabled]="isWholeListPingInProgress"
                        (click)="pingFilteredList()"
                    >
                        <i
                            class="fa" aria-hidden="true"
                            [ngClass]="{
                                'fa-exchange': isWholeListPingInProgress === false,
                                'fa-refresh fa-spin fa-fw': isWholeListPingInProgress === true
                            }"
                        ></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #stillEmptyBlock>
        <app-loading-indicator
            [isError]="isLoadingError"
            (refreshEvent)="refresh($event)"
        ></app-loading-indicator>
     </ng-template>
</div>