<div style="width: 100%; height: 100%"
    *ngIf="session !== null"
>
    <div class="w-100" style="height: 30px">
        <div class="container-fluid p-0 m-0">
            <div class="row p-0 m-0">
                <div class="col-12 p-0 m-0 text-center"
                    *ngIf="isCurrentSession; else sessionInfo"
                >
                    <strong
                        i18n="@@currentMonitorSessionLabel"
                    >Current monitor session</strong>
                </div>
                <ng-template #sessionInfo>
                    <div class="col-8 p-0 pl-1 m-0">
                        <span>Session </span> ({{sessionDate}})
                        {{sessionStartTime}}
                        <span i18n="spaceToSpaceLabel"> to </span> {{sessionEndTime}}
                    </div>
                    <div class="col-4 p-0 pr-1 m-0 text-right">
                        <span i18n="@@selectedNodesSpaceLabel">Selected nodes </span> {{session.participatingNodesNum}}
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div
        class="w-100 border"
        style="height: calc(50% - 30px)"
    >
        <div
            class="w-100 h-100 border border-secondary"
            style="overflow-y: scroll; scroll-behavior: smooth"
        >
            <div
                *ngFor="let pulse of pulses; trackBy: pulseTrackByFn; let i = index"
                (mouseenter)="selectPulse(pulse)"
                (mouseleave)="deselectPulse()"
                (click)="fixPulse(pulse)"
                class="monitor-pulse-square float-left p-0 mb-0 mr-0 border
                    {{pulse === fixedPulse ? 'border-primary' : 'border-secondary'}}
                    {{pulse.silent === 0 ? 'btn-success rounded' : 'btn-danger'}}
                "
            ></div>
            <div
                class="monitor-pulse-square float-left p-0 mb-0 mr-0 border border-secondary pulse_animation
                {{currentlyPulsing === true ? '' : 'd-none'}}"
            ></div>
        </div>
    </div>
    <div class="h-50"
        [ngClass]="{'d-none': isSelected === false}"
    >
        <div class="w-100" style="height: 30px">
            <strong class="container-fluid p-0 m-0">
                <div class="row p-0 m-0">
                    <div class="col-3 p-0 pl-1 m-0">
                        <span i18n="@@pulseSpaceLabel">Pulse </span>
                        {{selectedPulseCreationTime}}
                    </div>
                    <div class="col-9 p-0 m-0 text-center">
                        <span i18n="@@pingСolonSpaceLabel">Ping: </span>
                        <span class="text-success">{{selectedPulse.responded}}</span><!----
                        -->/{{session.participatingNodesNum}}
                        <span *ngIf="selectedPulse.silent > 0">
                            <span i18n="@@spaceBraceFailedColonSpaceLabel"> (Failed: </span>
                            <span class="text-danger">{{selectedPulse.silent}}</span><!----
                            --><span *ngIf="selectedPulse.skipped > 0"><!----
                                -->;<span i18n="@@spaceSkippedСolonSpaceLabel"> Skipped: </span>
                                <span class="text-danger">{{selectedPulse.skipped}}</span>
                            </span>)
                        </span>
                    </div>
                </div>
            </strong>
        </div>
        <div class="w-100 border"
            style="height: calc(100% - 30px)"
        >
            <div
                class="w-100 h-100 border text-italic"
                style="overflow-y: scroll; scroll-behavior: smooth"
            >
                <div class="w-100 px-1 border-bottom text-warning"
                    [ngClass]="{
                        'text-danger': isMessageDanger(message)
                    }"
                    *ngFor="let message of selectedPulseMessages"
                >
                    <!-- for two types of message only, monitor is not using the warning -->
                    <span i18n="@@NoPingReturned">No ping returned from</span>
                    {{message.messageSourceNodeName}};
                    <span *ngIf="message.messageType === messageTypes.Danger_NoPingReturned_SkippedChildren">
                        <span i18n="@@skippedLabel">Skipped</span>
                        {{message.numSkippedChildren}}
                        <span i18n="@@childNodesLabel">child nodes</span>;
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>