<div class="w-100 h-100 p-0 m-0 bg-light">
    <div class="w-100 h-100 p-0 m-0" *ngIf="dataLoaded && !displayOperationInProgress; else stillEmptyBlock">
        <div class="h-100 container-fluid p-0 m-0" style="width:calc(100% - 16px)">
            <div class="p-0 m-0" style="height:100%; width:calc(100% + 16px); overflow-y:scroll">
                <div class="d-flex align-items-center h-100 w-100">
                    <div class="d-block-inline w-100" style="max-height:100%">
                        <div *ngIf="isCustomView; else standardView">
                            <ng-container *ngTemplateOutlet="contentRef"></ng-container>
                        </div>
                        <ng-template #standardView>
                            <div class="p-0 m-0 container-fluid">
                                <div class="row p-0 m-0 text-center" *ngFor="let data of dataList">
                                    <div class="col-1"> </div>
                                    <div
                                        class="col-6 text-left p-2 border-bottom"
                                    >
                                        <span class="h4">{{data.name}}</span>
                                    </div>
                                    <div class="col-4 p-1 border-bottom text-right">
                                        <button
                                            type="button"
                                            class="btn btn-warning square mx-1"
                                            i18n="@@editButtonLabel"
                                            [routerLink]="['/form', baseFormLink, 'edit', data.id]"
                                        >
                                            Edit
                                        </button>
                                        <button
                                            type="button"
                                            class="btn btn-danger square mx-1"
                                            i18n="@@removeButtonLabel"
                                            (click)="tryRemove(data)"
                                        >
                                            Remove
                                        </button>
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                                <div class="row p-0 m-0 text-center">
                                    <div class="w-100">
                                        <span
                                            class="btn btn-primary square p-1 m-1"
                                            [routerLink]="['/form', baseFormLink, 'new']"
                                            i18n="@@addNewButtonLabel"
                                        >
                                            Add new
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #stillEmptyBlock>
        <app-loading-indicator
            [isError]="isLoadingError"
            (refreshEvent)="refresh($event)"
        ></app-loading-indicator>
    </ng-template>
</div>
<app-confirmation-popup
    [display]="displayDeleteMessage"
    (answerEvent)="deleteHandler($event)"
>
    <span i18n="@@deleteLabel">Delete</span>
    <span> "{{objectToRemoveName}}"?</span>
</app-confirmation-popup>