<app-crud-form-scaffolding
    [displayOperationInProgress]="displayOperationInProgress"
    [isLoadingError]="isLoadingError"
    [displayDiscardMessage]="displayDiscardMessage"
    [displayCreateConfirmationMessage]="displayCreateConfirmationMessage"
    [displaySaveChangesMessage]="displaySaveChangesMessage"

    (discardConfirmationEvent)="discardAndReturn($event)"
    (saveNewConfirmationEvent)="createNewObjectAndReturn($event)"
    (saveChangesConfirmationEvent)="saveChangesToObjectAndReturn($event)"
    (refreshEvent)="refresh($event)"
>
    <ng-template>
        <app-crud-form-header
            [isEditMode]="isEditMode"
        >
            <span i18n="@@customWebServiceLabel">custom web service</span>
        </app-crud-form-header>
        <!--
            public id:number,
            public name:string,
            public serviceStr:string,
            public parametr1Name,
            public parametr2Name,
            public parametr3Name
        -->
        <form
            class="pl-2 w-100"
            novalidate
            #form="ngForm"
            validate
        >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 form-inline py-2">
                        <label i18n="@@nameLabel" class="pr-2">Name</label>
                        <input class="form-control" #nameModel="ngModel" name="name" [(ngModel)]="data.name" minlength="2" required />
                        <strong
                            *ngIf="nameModel.invalid && (nameModel.dirty || nameModel.touched)"
                            class="text-small text-danger"
                        >
                            <div
                                i18n="@@nameRequiredMessge"
                                *ngIf="nameModel.errors.required"
                            >Name value required.</div>
                        </strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 py-2">

<!--STR BUILDER FORM BEGIN-->
                        <div>
                            <div>
                                <div i18n="@@baseHrefLabel">Base href</div>
                                <div class="form-inline m-0 p-0">
                                    <button
                                        type="button"
                                        class="btn btn-outline-secondary square"
                                        (click)="swapUseHttp()"
                                    >
                                        <span *ngIf="useHttp; else httpsButton">http://</span>
                                        <ng-template #httpsButton>https://</ng-template>
                                    </button>
                                    <input #baseUrl
                                        class="form-control"
                                        [value]="getBaseUrl()"
                                        (keyup)="setBaseUrl(baseUrl.value)"
                                    />
                                </div>
                            </div>
                            <div class="form-inline m-0 p-0">
                                <span class="pr-2" i18n="@@useIPLabel">Use IP</span>
                                <input
                                    class="form-control mx-2"
                                    type="checkbox"
                                    [checked]="useIP()"
                                    (change)="setIPUsage($event.target.checked)"
                                />
                                <span *ngIf="useIP()">
                                    <span
                                        [ngClass]="{
                                            'btn-light square': !isLeftEdge(0),
                                            'text-secondary' : isLeftEdge(0)
                                        }"
                                        class="border-right p-0 m-0 px-1 h-100"
                                        style="user-select: none;"
                                        (click)="moveBackward(0)"
                                    >
                                        <i class="fa fa-caret-left"></i>
                                    </span>
                                    <span
                                        [ngClass]="{
                                            'btn-light square': !isRightEdge(0),
                                            'text-secondary' : isRightEdge(0)
                                        }"
                                        class="border-right p-0 m-0 px-1 h-100"
                                        style="user-select: none;"
                                        (click)="moveForward(0)"
                                    >
                                        <i class="fa fa-caret-right"></i>
                                    </span>
                                </span>
                            </div>
                            <div>
                                <span class="pr-2" i18n="@@parametrLabel">Parameters</span>
                                <div class="form-inline m-0 p-0" *ngFor="let num of from1To3">
                                    {{num}}
                                    <input
                                        class="form-control mx-2"
                                        type="checkbox"
                                        [checked]="usesParam(num)"
                                        (change)="setParamUsage($event.target.checked, num)"
                                    />
                                    <span *ngIf="usesParam(num)">
                                        <span
                                            [ngClass]="{
                                                'btn-light square': !isLeftEdge(num),
                                                'text-secondary' : isLeftEdge(num)
                                            }"
                                            class="border-right p-0 m-0 px-1 h-100"
                                            style="user-select: none;"
                                            (click)="moveBackward(num)"
                                        >
                                            <i class="fa fa-caret-left"></i>
                                        </span>
                                        <span
                                            [ngClass]="{
                                                'btn-light square': !isRightEdge(num),
                                                'text-secondary' : isRightEdge(num)
                                            }"
                                            class="border-right p-0 m-0 px-1 h-100"
                                            style="user-select: none;"
                                            (click)="moveForward(num)"
                                        >
                                            <i class="fa fa-caret-right"></i>
                                        </span>
                                        <input
                                            class="form-control ml-2"
                                            #paramNameModel="ngModel"
                                            name="paramName{{num}}"
                                            minlength="2"
                                            [ngModel]="getParamName(num)"
                                            (ngModelChange)="setParamName(num, $event)"
                                            required
                                        />
                                        <strong
                                            *ngIf="paramNameModel.invalid && (paramNameModel.dirty || paramNameModel.touched)"
                                            class="text-small text-danger"
                                        >
                                            <div
                                                i18n="@@nameRequiredMessge"
                                                *ngIf="paramNameModel.errors.required"
                                            >Name value required.</div>
                                        </strong>
                                    </span>
                                </div>
                            </div>
                            <div style="word-break: break-all;">
                                <u>{{data.serviceStr}}</u>
                            </div>
                        </div>
<!--STR BUILDER FORM BEGIN-->      

                    </div>
                </div>
            </div>
            <div>
                <button
                    *ngIf="isEditMode; else createButton"
                    type="button"
                    class="btn btn-warning square m-1"
                    (click)="trySaveChanges()"
                >
                    <span i18n="@@saveButtonLabel">Save</span>
                </button>
                <ng-template #createButton>
                    <button
                        type="button"
                        class="btn btn-primary square m-1"
                        (click)="tryCreateNew()"
                    >
                        <span i18n="@@createButtonLabel">Create</span>
                    </button>
                </ng-template>
                <button
                    type="button"
                    class="btn btn-secondary square m-1"
                    (click)="tryDiscard()"
                    i18n="@@cancelButtonLabel"
                >
                    Cancel
                </button>
            </div>
        </form>
    </ng-template>
</app-crud-form-scaffolding>