<app-crud-node-side-selector-template
    [dataList]="allServices"
    [isLoadingError]="isLoadingError"
    [displayOperationInProgress]="displayOperationInProgress"
    (refreshEvent)="refresh($event)"
    (nodeSelectionEvent)="selectNode($event)"
    (showInfoEvent)="showNodeInfo($event)"
    (hideInfoEvent)="hideNodeInfo()"
>
    <ng-template>
        <app-custom-web-service-binding
            [allServices]="allServices"
            [originalBoundServicesData]="selectedNodeServicesData"
            (bindingEvent)="bindService($event)"
            (bindingRemovalEvent)="removeBinding($event)"
        ></app-custom-web-service-binding>
    </ng-template>
</app-crud-node-side-selector-template>