<div style="position: fixed; width: calc(100% - 70px); height: calc(100% - 30px)">
    <div class="h-100" style="display: flex">
        <div class="border-right h-100 px-2" 
            style="flex: 0 0 200px"
        >
            <div class="btn btn-sm btn-outline-info square w-100 mb-1"
                routerLink="nodes"
                routerLinkActive="bg-info text-white"
                i18n="@@nodesEditorButtonLabel"
            >
                Nodes
            </div>
            <div class="btn btn-sm btn-outline-info square w-100 mb-1"
                routerLink="customWebServices"
                routerLinkActive="bg-info text-white"
                i18n="@@customWebServicesEditorButtonLabel"
            >
                Custom web services
            </div>
            <div class="btn btn-sm btn-outline-info square w-100 mb-1"
                routerLink="profilesSelect"
                routerLinkActive="bg-info text-white"
                i18n="@@changeSettingsProfileEditorButtonLabel"
            >
                Change settings profile
            </div>
            <div class="btn btn-sm btn-outline-info square w-100 mb-1"
                routerLink="profiles"
                routerLinkActive="bg-info text-white"
                i18n="@@settingsProfilesEditorButtonLabel"
            >
                Settings profiles
            </div>
            <div class="btn btn-sm btn-outline-info square w-100 mb-1"
                routerLink="tags"
                routerLinkActive="bg-info text-white"
                i18n="@@tagsEditorButtonLabel"
            >
                Tags
            </div>
            <div class="py-2"></div>
            <div class="btn btn-sm btn-outline-info square w-100 mb-1"
                routerLink="/ui/form/customWebServicesBinding"
                routerLinkActive="bg-info text-white"
                i18n="@@webServiceBindingEditorButtonLabel"
            >
                Web service binding
            </div>
            <div class="btn btn-sm btn-outline-info square w-100 mb-1"
                routerLink="/ui/form/tagsBinding"
                routerLinkActive="bg-info text-white"
                i18n="@@tagBindingEditorButtonLabel"
            >
                Tag binding
            </div>
        </div>
        <div class="h-100"
            style="flex: 0 0 calc(100% - 200px)"
        >
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-monitor-mutability-block></app-monitor-mutability-block>
</div>