<div class="bg-light h-100">
    <div class="h-100" *ngIf="isNoSelection === false; else notSelectedBlock">
        <div class="container-fluid m-0 p-0" style="height: calc(100% - 43px)">
            <div
                class="row p-0 m-0 text-center"
                style="height: 33px; font-size: 18px"
            >
                <div
                    class="col-6 border-right border-bottom nonselectable-collumn"
                    style="padding-top: 3px; padding-bottom: 3px"
                >
                    <strong i18n="@@setTagsLable">Set</strong>
                </div>
                <div
                    class="col-6 border-bottom nonselectable-collumn"
                    style="padding-top: 3px; padding-bottom: 3px"
                >
                    <strong i18n="@@availableTagsLable">Available</strong>
                </div>
            </div>
            <div class="row p-0 m-0" style="height: calc(100% - 33px)">
                <div
                    class="col-6 m-0 p-0 text-right border-right h-100"
                    style="direction: rtl; overflow-y: scroll"
                >
                    <div
                        *ngFor="let t of setTags; let i = index"
                        class="px-1"
                    >
                        <span
                            class="px-2 py-1 badge badge-success badge-pill btn btn-success"
                            (click)="deselectTag(i)"
                        >
                            < {{t.name}}
                        </span>
                    </div>
                </div>
                <div
                    class="col-6 m-0 p-0 text-left h-100"
                    style="overflow-y: scroll"
                >
                    <div
                        *ngFor="let t of availableTags; let i = index"
                        class="px-1"
                    >
                        <span
                            class="px-2 py-1 badge badge-info badge-pill btn btn-info"
                            (click)="selectTag(i)"
                        >
                            < {{t.name}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="w-100"
            style="height: 43px; padding-left: 6px; padding-right: 6px; padding-top: 3px; padding-bottom: 3px"
        >
            <button
                type="button"
                class="btn btn-success square w-100 m-0 p-0"
                style="height: 40px; font-size: 18px"
                (click)="applyChanges()"
                i18n="@@applyLable"
            >
                Apply
            </button>
        </div>
    </div>
    <ng-template #notSelectedBlock>
        <div class="h5 w-100 py-2 text-center" i18n="@@noNodeSelectedLabel">
            No node selected
        </div>
    </ng-template>
</div>