<app-crud-node-side-selector-template
    [dataList]="selectedNodeTagsSet"
    [isLoadingError]="isLoadingError"
    [displayOperationInProgress]="displayOperationInProgress"
    (refreshEvent)="refresh($event)"
    (nodeSelectionEvent)="selectNode($event)"
    (showInfoEvent)="showNodeInfo($event)"
    (hideInfoEvent)="hideNodeInfo()"
>
    <ng-template>
        <app-tags-binding
            [originalSetTags]="selectedNodeTagsSet"
            (applyEvent)="setSelectedNodeTags($event)"
        ></app-tags-binding>
    </ng-template>
</app-crud-node-side-selector-template>